* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto Mono", monospace;
}

:root {
    font-size: 62.5%;
    --nav-height: 7.2rem;

    --primary-color: #006DDD;
    --secondary-color: #004388;
    --tertinary-color: #001326;

    --color-text: #e4e4e4;
    --p-color: #6e6e6e;
}  

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  body {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }
  
  ul {
    list-style: none;
  }

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

  .wrapper-home {
    width: min(130rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }
  
  section {
    padding-block: 10rem;
  }

  /*====  scrollbar ============================ */
  
  ::-webkit-scrollbar {
    width: 1rem;
    background-color: #111111;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: #333333;
  }

  #particles-js {
    background-color: transparent;
    opacity: .7;
    position: fixed;
    width: 100%;
    height: 100%;
    height: 100%;
    top: 0;
  }

/* HOME =================== */
#home {
  overflow: hidden;
}

#home .banner video {
  display: none;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;

    filter: brightness(.8);
  }

  .banner .content {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #home .content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #home .content .text .paragraphy {
    display: flex;
    align-items: center;
  }

  #home .social-links {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;

    position: sticky;
    top: 100px;
  }

  #home .social-links svg {
    filter: drop-shadow(2px 4px 20px #006DDD);
    animation: move 2.5s infinite ease-in-out;
    transition: all 200ms ease-in-out;
  }

  #home .social-links a svg:hover {
    filter: drop-shadow(4px 8px 20px #ffffff);
    cursor: pointer;
  }

  #home .social-links a:nth-child(2) svg {
    animation-delay: 200ms;
  }

  #home .social-links a:nth-child(3) svg {
    animation-delay: 400ms;
  }

  #home .content .text svg {
    width: 5rem;
    height: 5rem;
  }

  #home .content .text .paragraphy p {
    font-size: 2rem;
    color: #d8d8d8;
    font-weight: 400;
  }

  #home .content .text h1 {
    font-family: "Poppins", sans-serif;
    font-size: 6rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #ffffffe8;
    text-stroke: 1px #ffffffc5;

    background: #CFCFCF;
    background: radial-gradient(circle farthest-corner at center center, #cfcfcf17 0%, #0000002d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    line-height: 1;
    text-align: center;
  }

  #home .content .arrow {
    filter: drop-shadow(2px 4px 15px #006ddd);

    transition: all 200ms ease-in-out;
  }

  #home .content .arrow:hover {
    transform: scale(1.1);
  }

/* PROJECTS =================== */
  #projects {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.519);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.082);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    position: relative;
  }

  #projects img.textoPortfolio {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    opacity: .02;
  }

  #projects img.looper {
    position: absolute;
    

    animation: rotate infinite linear 20s;
    z-index: -1;
    filter: brightness(.1);
  }

  #projects img.looper.um {
    bottom: 91%;
    right: -24rem;
  }

  #projects img.looper.dois {
    bottom: 45%;
    left: -24rem;
  }

  #projects img.looper.tres {
    bottom: 10%;
    right: -24rem;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  #projects header h2 {
    line-height: 1.1;
    color: var(--color-text);
    font-size: 3.5rem;

    margin-bottom: 1rem;
  }

  #projects header p {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: var(--p-color);
    font-weight: 600;
  }

  #projects header {
    margin-bottom: 8rem;
  }

  #projects .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }

  #projects .image img {
    width: 100%;
    transition: all 200ms ease-in-out;
    animation: move 2.5s infinite ease-in-out;

    filter: drop-shadow(2px 4px 20px #1b1b1b);

    margin-bottom: 4rem;
  }

  #projects .card.right .image img {
    animation-delay: 500ms;
  }
  
  #projects .image img:hover { 
    cursor: pointer;
    filter: drop-shadow(1px 3px 15px #4646469d);
  }

  #projects h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #d8d8d8;

    margin-bottom: .5rem;
  }

  #projects p {
    font-family: "Poppins", sans-serif;
    color: var(--p-color);
    font-size: 1.6rem;
  }

  #projects .technologies {
    margin-top: 2rem;
  }

  #projects .technologies ion-icon {
    font-size: 2.5rem;
    color: #fff;
  }

  #projects .technologies ion-icon:nth-child(1) {
  color: #f0db4f;
  border-radius: 1rem;
}

  #projects .technologies ion-icon:nth-child(2) {
  color: #ec6231;
}

  #projects .technologies ion-icon:nth-child(3) {
  color: #264de4;
}

/* competencias=================== */
#competencias {
  background-color: #050505;
  overflow: hidden;
}

#competencias header h2 {
  font-size: 3.5rem;
    color: var(--color-text);
    margin-bottom: 5rem;
}

#competencias .cards .card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  /* From https://css.glass */
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2rem;

  min-height: 30rem;

  box-shadow:  5px 5px 20px #000000;
}

#competencias .cards .card ion-icon {
  font-size: 6rem;
  color: var(--color-text);
}

#competencias .cards .card span {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 2rem;
  margin-top: -1rem;
}

#competencias .cards .card p {
  font-family: "Poppins", sans-serif;
  color: var(--p-color);
  font-size: 1.6rem;
  font-weight: 300;
}

/* sobre =================== */
#sobre {
  position: absolute;
  background-color: #050505;
  overflow: hidden;
}

#sobre .image {
  margin-bottom: 3rem;
}

#sobre .image img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  width: 100%;

  border-radius: 50%;
  box-shadow:  19px 19px 30px #1818182d,
  -19px -19px 30px #2020201f;
  
  animation: move 3s ease-in-out infinite;
}

#sobre .content header h2 {
  font-size: 4rem;
  color: var(--color-text);
  text-align: left;
}

#sobre .content .text {
  text-align: left;
}

#sobre .content .text p {
  font-weight: 300;
  color: #6e6e6e;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

#sobre .content .text p span {
  font-weight: 600;
}

#sobre .content .text ul {
  margin-top: 3rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  align-items: start;
  text-align: left;
}

#sobre .content .text ul li {
  font-size: 1.4rem;
  color: #9b9b9b;
  list-style: disc;
  font-weight: 400;

  font-family: 'Poppins', sans-serif;
}

#sobre .content .text a {
  text-decoration: none;
  color: var(--color-text);
}

#sobre .content .text a button {
  font-family: 'Poppins', sans-serif;

  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: transparent;
  outline: 1px solid var(--color-text);
  color: var(--color-text);
  font-weight: 700;
  border: none;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  transition: all 200ms ease-in-out;

}

#sobre .content .text a button:hover {
  background-color: var(--color-text);
  color: #111111;
  box-shadow: 5px 5px 10px #000;
  cursor: pointer;
}

#sobre .content .text a button:hover ion-icon {
  color: #111111;
  animation: moveicon 2s ease-in-out infinite;
}

#sobre .content .text a button ion-icon {
  color: var(--color-text);
  font-size: 2rem;
}

/* buttonWhatsapp =================== */
#buttonHome {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: all 300ms ease-in-out;
}

#buttonHome.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

#buttonHome img {
  width: 6rem;
  transition: all 300ms ease-in-out;
}

#buttonHome svg:hover {
  transform: scale(1.1);
}

section#competenciasDesktop {
  display: none;
}

@media (min-width: 1080px) {
  .wrapper {
    width: min(150rem, 100%);
  }

   header#home {
      background-image: none;
      background-repeat: initial;
      background-size: initial;
      background-position: initial;
  }

  header#home .wrapper-home .banner .text h1 {
    font-size: 10rem;
  }

  header#home .content .text .paragraphy p {
    font-size: 3rem;
  }

  header#home .banner video {
    filter: brightness(.5);
    display: initial;
  }

  section#projects .wrapper header h2 {
    font-size: 5rem;
  }

  section#projects .wrapper .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
    column-gap: 30rem;
  }

  section#sobre {
    background-color: #000;
  }

  section#sobre .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  section#sobre .image img {
    width: 60%;
  }

  section#sobre .content header h2 {
    text-align: left;
  }

  section#sobre .content .text {
    text-align: left;
  }

  section#competencias {
    display: none;
  }

  section#competenciasDesktop {
    display: inherit;
    overflow: hidden;

    position: relative;
  }

  section#competenciasDesktop img.textoHabilidades {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    opacity: .02;
  }

  section#competenciasDesktop header h2 {
    font-size: 5rem;
    color: var(--color-text);
    margin-bottom: 5rem;
  }

  section#competenciasDesktop .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }

  section#competenciasDesktop .cards .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;

    /* From https://css.glass */
  background: rgba(61, 61, 61, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow:  6px 6px 30px #141414,
             -6px -6px 30px #0c0c0c;
  }
  
  section#competenciasDesktop .cards .card ion-icon {
    font-size: 5rem;
    color: var(--color-text);
  }

  section#competenciasDesktop .cards .card span {
    color: var(--color-text);
    font-weight: 700;
    font-size: 2rem;
  }

  section#competenciasDesktop .cards .card p {
    font-family: "Poppins", sans-serif;
    color: #6e6e6e;
    font-size: 1.6rem;
  }
}

@keyframes move {
  50% {
    transform: translateY(10px);
  }
}

@keyframes moveicon {
  50% {
    transform: translateX(5px);
  }
}

 